<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalifa.main">

    <application>
        <activity
            android:name=".activity.me.BlackListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.BindActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.BindPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.GiftActivity"
            android:exported="false" />
        <activity
            android:name=".activity.friend.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActiveInfo"
            android:exported="false" />
        <activity
            android:name=".activity.che.MyChe"
            android:exported="false" />
        <activity
            android:name=".activity.me.RealName"
            android:exported="false" />
        <activity
            android:name=".activity.me.CallUs"
            android:exported="false" />
        <activity
            android:name=".activity.me.FeedBack"
            android:exported="false" />
        <activity
            android:name=".activity.me.Knapsack"
            android:exported="false" />
        <activity
            android:name=".activity.me.EditMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.FanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoneyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.VipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.ModelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.SetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.MeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActiveActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.friend.FriendApply"
            android:exported="false" />
        <activity
            android:name=".activity.friend.FriendList"
            android:exported="false" />
        <activity
            android:name=".activity.friend.MsgHd"
            android:exported="false" />
        <activity
            android:name=".activity.friend.MsgXt"
            android:exported="false" />
        <activity
            android:name=".activity.friend.NewFriend"
            android:exported="false" />
        <activity
            android:name=".activity.che.AddCheActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.che.CheInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheActivity"
            android:exported="false" />
    </application>

</manifest>