<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalifa.main">

    <permission
        android:name="com.lalifa.main.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lalifa.main.permission.JPUSH_MESSAGE" />

    <application>
        <activity
            android:name=".activity.room.ManageListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.room.RoomSettingActivity"
            android:exported="false" /> <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MainSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PHActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MySxActivity"
            android:exported="false" />
        <activity
            android:name=".activity.room.AdActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.WardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.GiftHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.BlackListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.BindActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.BindPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.GiftActivity"
            android:exported="false" />
        <activity
            android:name=".activity.friend.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActiveInfo"
            android:exported="false" />
        <activity
            android:name=".activity.che.MyChe"
            android:exported="false" />
        <activity
            android:name=".activity.me.RealName"
            android:exported="false" />
        <activity
            android:name=".activity.me.CallUs"
            android:exported="false" />
        <activity
            android:name=".activity.me.FeedBack"
            android:exported="false" />
        <activity
            android:name=".activity.me.Knapsack"
            android:exported="false" />
        <activity
            android:name=".activity.me.EditMyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.FanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.MoneyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.VipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.ModelActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.SetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.me.MeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActiveActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.friend.FriendApply"
            android:exported="false" />
        <activity
            android:name=".activity.friend.FriendList"
            android:exported="false" />
        <activity
            android:name=".activity.friend.MsgHd"
            android:exported="false" />
        <activity
            android:name=".activity.friend.MsgXt"
            android:exported="false" />
        <activity
            android:name=".activity.friend.NewFriend"
            android:exported="false" />
        <activity
            android:name=".activity.che.AddCheActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.che.CheInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.che.CheActivity"
            android:exported="false" />
    </application>

</manifest>