<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalifa.che">

    <application>
        <activity
            android:name=".activity.AddCheActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheActivity"
            android:exported="true" />
    </application>

</manifest>