<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lalifa.base">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application>
        <activity
            android:name="com.lalifa.activity.WebActivity"
            android:exported="true" />
        <uses-library android:name ="org.apache.http.legacy" android:required ="false" />
    </application>
</manifest>