<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lalifa.yyf">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.lalifa.yyf.MApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mina"
        tools:replace="android:name"
        tools:targetApi="s">
        <activity
            android:name=".ui.login.LoginPassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.SexActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.InputCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.lalifa.yyf.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" /> <!-- 》》》》》》》》》》登录注册》》》》》》》》》》》 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b41b31934090036b1855ee8c8864dcb5" />
    </application>

</manifest>