<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalifa.message">

    <application>
        <activity
            android:name=".ui.FriendApply"
            android:exported="false" />
        <activity
            android:name=".ui.FriendList"
            android:exported="false" />
        <activity
            android:name=".ui.MsgHd"
            android:exported="false" />
        <activity
            android:name=".ui.MsgXt"
            android:exported="false" />
        <activity
            android:name=".ui.NewFriend"
            android:exported="false" />
    </application>

</manifest>